<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MICRODOT</title>
  <link rel="icon" type="image/png" href="colicon.png"/>
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">

</head>


<body >
  <header>
  <div class="container">
    <img src="images/microdotblack.png" alt = "logo" class="logo">

  </div>
 
    <div class="group"> 
        <form action="program.php" method="post" target="_blank" class = "inputarea">
            <input type="email" name="field1" placeholder="YOUR EMAIL" class ="inputt" ><br>
           <input type="submit" value="SUBSCRIBE" class = "buttons">
        </form>
   
 </div>


    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="index.html"><img src="logo.png" alt = "logo" class = "logosmall" ></a></li>
        <li><a href="http://orionmd.org/donate/">Donate</a></li>
      </ul>
    </nav>


  <section >
  </section>
</body>
</html>
<!-- class="gradDynamic"  -->