<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MICRODOT</title>
  <link rel="icon" type="image/png" href="colicon.png"/>
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">

</head>


<body >
  <header>
  <div class="container">
    <img src="/public/images/microdotwhite.png" alt = "logo" class="logo">

  </div>
 
    <div class="group"> 
        <form method="post" target="_blank" class = "inputarea">
            <input  name="field1" placeholder="Enter your code here" class ="inputt" ><br>
           <input type="submit" value="Chat Now" class = "buttons">
        </form>
   
 </div>


    <nav>
      <ul>
        <li><a >===</a></li>
        <li><a href="http://orionmd.org/donate/">Donate</a></li>
        <li><a > === </a></li>
      </ul>
    </nav>


  <section >
  </section>
</body>
</html>
<!-- class="gradDynamic"  -->