<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>MICRODOT</title>
      <link rel="icon" type="image/ico" href="favicon.ico"/>
      <link rel="stylesheet" type="text/css" href="/public/css/index.css">

    </head>


    <body >
      <header>
        <div class="container">
          <img src="/public/images/microdotwhite.png" alt = "logo" class="logo">

        </div>
        
        <div class="group"> 
          <form target="_blank" class="inputarea" id="joinMain">
            <input id="joinForm" name="field1" placeholder="Enter your code here" class ="inputt" ><br>
            <input id="fefe" type="submit" onclick="submitJoin" placeholder="Join a Chat" class = "buttons">
          </form>
          <form target="_blank" class="inputarea" id="createMain">
            <input type="submit" value="Create a Chat" class = "buttons">
          </form>
          
        </div>
        

        <nav>
      <ul>
        <li><a >===</a></li>
        <li><a href="http://orionmd.org/donate/">Donate</a></li>
        <li><a > === </a></li>
      </ul>
    </nav>
    
    
  <section >
  </section>
  <script src="public/js/index.js"></script>
</body>
</html>
<!-- class="gradDynamic"  -->
