<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>MICRODOT</title>
      <link rel="stylesheet" type="text/css" href="/public/css/index.css">

    </head>


    <body >
      <header>
        <div class="container">
          <img src="/public/images/microdotwhite.png" alt = "logo" class="logo">

        </div>
        
        <div class="group">
          <!--join a chat-->
          <form target="_blank" class="inputarea" id="joinMain">
            <input id="joinForm" name="field1" placeholder="Enter your code here" class ="inputt" ><br>
            <input id="fefe" type="submit" onclick="submitJoin" value="Join a Chat" class = "buttons">
          </form>
          <!--create a new chatroom-->
          <form target="_blank" class="inputarea" id="createMain">
            <input type="submit" value="Create a Chat" class = "buttons">
          </form>
          
        </div>
        

        <nav>
    </nav>
    
    
  <section >
  </section>
  <!--main source-->
  <script src="public/js/index.js"></script>
</body>
</html>
