<html>
  <head>
  </head>

  <body>
    <ul id="messages"></ul>

    <div id="chat">
      <div id="chatText" style="width:70%;height:60%;overflow-y:scroll">
        <div>Welcome to microdot!</div>
      </div>
      
      <form id="chatForm">
        <input autocomplete="off" id="chatInput" type="text" style="width:70%" autofocus></input>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
  </body>
</html>
